<h2 *ngIf="!editando">{{titulo}}</h2>
<p *ngIf="!editando">{{nota}}</p>
<button *ngIf="!editando" title="editar" (click)="editar()">Editar</button>
<button *ngIf="!editando" title="borrar" (click)="borrar()">Borrar</button>

<br *ngIf="editando">
<input *ngIf="editando" title="titulo" [(ngModel)]="titulo">
<br *ngIf="editando">
<textarea *ngIf="editando" title="nota" [(ngModel)]="nota"></textarea>
<br *ngIf="editando">
<button *ngIf="editando" title="confirmar" (click)="editar()">Confirmar</button>