<div *ngIf="!editando" class="nota">
    <div class="superior">
        <h2>{{titulo}}</h2>
        <div class="button-container">
            <button type="button" title="arriba" class="button mover" (click)="subir()">▲</button>
            <button type="button" title="bajar" class="button mover" (click)="bajar()">▼</button>        
        </div>
    </div>
    <div class="inferior">
        <p>{{nota}}</p>
        <div class="button-container">
            <button type="button" title="editar" class="button principal" (click)="editar()">✎</button>
            <button type="button" title="borrar" class="button secundario" (click)="borrar()">🗑️</button>        
        </div>
    </div>
</div>

<div *ngIf="editando" class="nota">
    <br>
    <input title="titulo" [(ngModel)]="titulo" (keydown)="shiftenter($event)">
    <br>
    <textarea title="nota" [(ngModel)]="nota" (keydown)="shiftenter($event)"></textarea>
    <br>
    <button type="button" title="confirmar" class="button principal" (click)="editar()">Confirmar</button>
    <button type="button" title="confirmar" class="button principal" (click)="cancelar()">Cancelar</button>
</div>
