<div class="nota">
    <h2>Título:</h2>
    <input title="Título" class="input" [(ngModel)]="titulo" (keydown)="shiftenter($event)">

    <h3>Nota:</h3>
    <textarea title="Nota" class="input" [(ngModel)]="nota" (keydown)="shiftenter($event)"></textarea>
    <div class="fila">
        <h4 style="margin: 1px;">Color:</h4>
        <input type="color" title="color" class="button" value="#f075C3" [(ngModel)]="color" />
    </div>
    <div class="button-container fila">
        <button type="button" title="Ok" (click)="ok()">OK</button>
        <button type="button" title="Cancel" (click)="cancelar()">Cancelar</button>
    </div>

</div>